/* _content/SimpleLogin.Ui/Component1.razor.rz.scp.css */
.my-component[b-bvm7wmgbsa] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
